In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
# Sample dataset
data = pd.read_csv('car data.csv')

In [3]:
# Create DataFrame
df = pd.DataFrame(data)
df.head(2)

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0

In [4]:
df['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [30]:
df['Selling_type'].unique()

array(['Dealer', 'Individual'], dtype=object)

In [5]:
# Encoding the categorical data into interger
df1=df.replace({'Fuel_Type':{'Petrol':0,'Diesel':1,'CNG':2},'Selling_type':{'Dealer':0,'Individual':1},'Transmission':{'Manual':0,'Automatic':1}})

In [6]:
del df1['Car_Name']

In [7]:
del df1['Selling_Price']

In [11]:
# Features and target variable
X = df1[['Year','Present_Price','Driven_kms','Fuel_Type','Selling_type','Transmission','Owner']]

In [12]:
y = df['Selling_Price']

In [13]:
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
df1

,Year,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,2014,5.59,27000,0,0,0,0
1,2013,9.54,43000,1,0,0,0
2,2017,9.85,6900,0,0,0,0
3,2011,4.15,5200,0,0,0,0
4,2014,6.87,42450,1,0,0,0
...,...,...,...,...,...,...,...
296,2016,11.60,33988,1,0,0,0
297,2015,5.90,60000,0,0,0,0
298,2009,11.00,87934,0,0,0,0
299,2017,12.50,9000,1,0,0,0
300,2016,5.90,5464,0,0,0,0

In [16]:
# Create and train the model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [17]:
# Make predictions
y_pred = model.predict(X_test)

In [18]:
# Model evaluation
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [19]:
print(f"Mean Squared Error: {mse}")
print(f"R^2 Score: {r2}")

Mean Squared Error: 3.531579888973083
R^2 Score: 0.8466902419661897

In [24]:
df.head(5)

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [31]:
# Predicting the price of a used car
new_data = pd.DataFrame({'Year': [2014], 'Present_Price': [6.87], 'Driven_kms': [42450],'Fuel_Type': [1], 'Selling_type': [0],'Transmission': [0],'Owner': [0]})
predicted_price = model.predict(new_data)
print(f"Predicted Price for the new car: ${predicted_price[0]:.2f}")

Predicted Price for the new car: $5.77